doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/lib/css/materialize.min.css")
    block head
  body
    block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")    
    script(src="/lib/js/materialize.min.js")    
    block script